body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	height: 80px;
}
.postcard-header h1 {
	width: 100%;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: x;
}
.body-left {
	padding: 15px;
}
.body-right {
	padding: 15px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: x;
	margin: 15px;
}
input {
	width: 100%;
	padding: 5px;
	margin: 3px 0;
	border: 0;
	border-bottom: 1px solid #bdbdbd;
	background-color: bisque;
}
.postcard {
	background-color: beige;
}
